/*CSS*/

/*Header*/
header {
  background-color: #ffffff;
  overflow: hidden;
  color: white;
  border-bottom: 2px solid #cccccc;
  text-decoration: none;
  width:100%;

}

body {
  padding: 0;
  margin: 0;
  line-height: 150%;
  color: #000000;
  /* background: #efeee7; /* main background ATM */
  background-image: url("../../assets/images/white-waves.png"); 
  background-repeat: repeat;
}



a h1 {
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  padding: 30px;
  margin-bottom:0px;
  text-decoration: none;
  margin-top: 0px;
  font-size: 30px;
}

h2 {
  color:  #4aaaa5;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #cccccc;
  
  

}
 header a {
  text-decoration: none;
}

span a , span a:active, span a:visited {
  color: #cccccc;
  text-decoration: none;
  padding: 10px;
  margin-bottom:30px;
  font-display: 12px;
  margin-top: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}


span a:hover {
  color: #ffffff;
  background: #4aaaa5;
}

.navBorder {
  border-left: 1px solid #cccccc;
  padding-left: 5px;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 30px; 
  height: 480px;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
} 

#main-bio {
  width: 100%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-image: url("../images/Jonathan_Behar_Profile_Photo.jpeg");
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  margin-bottom: 0px;
  margin-right: 15%;
  margin-left: 15%;
  text-decoration: none;
}

/* Navbar links */

#nav_title2 {
  float: right;
  text-decoration: none;
  padding: 25px 0;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  
}

#nav_title1 {
  float: left;
  text-decoration: none;

}




/* #navbar a h1 {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-top: 200;
  margin-bottom: 0px;
}

#navbar span a {
  float: right;
  display: block;
  color: #A9A9A9;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#navbar span a:link {
  float: right;
  display: block;
  color: #A9A9A9;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


#navbar span a:visited {
  float: right;
  display: block;
  color: #A9A9A9;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#navbar span a:hover {
  float: right;
  display: block;
  color: #A9A9A9;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
}

#navbar span a:active {
  float: right;
  display: block;
  color: #A9A9A9;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} */



/* Page content */
#content {
  padding: 30px;
  border: solid 2px #dddddd;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:40px;
  margin-bottom: 40px;
  background-color: #ffffff
}

sup { 
  vertical-align: top;
  position: relative;
  top: -0.5em; }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


footer {
  background-color: #666666;
  text-align: center;
  border-top: solid 4px #4aaaa5;
  padding-top:40px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  clear: both;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

